<html>
<head>
<title><h1>AULA DESCOMPLICANDO O ANSIBLE</h1></title>
</head>
<body>
DESCOMPLICANDO O ANSIBLE. VAII!
<h2>*** DESCOMPLICANDO O ANSIBLE ***</h2>
<h3>IP: {{ ansible_default_ipv4.address }} </h3>
<p>VAI VAI</p>
</body>
</html>
